__pycache__/
lightning_logs/
reach/
safe_lane/
ped_some/
cyclist_yield/
heading_stable/
ped_yield/
reach_adapt/
veh_space/
reach_uns/
head_real/
reach_unsafe/
ped_clear/
reach_simp/
outputs_reach/
outputs_reach_unsafe/
outputs_reach_simp/
outputs_head_real/
outputs_reach_uns/
outputs_ped_some/
outputs_safe_lane/
outputs_cyclist_yield/
outputs_heading_stable/
outputs_ped_yield/
outputs_reach_adapt/
outputs_veh_space/
outputs_ped_clear/
/*.out
/*.err
/*.sh
/*.yml
/*.slurm
visual/